/* Fonts */
/* See: /fonts/SIL Open Font License.txt */
@font-face {
    font-family: EBGaramond;
    src: url(../fonts/EBGaramond12-Regular.ttf);
}

/* Visible borders */
/*.visible-border, .visible-border * {
    border: 1px solid grey;
} */

.top-blurb {
    /*display: inline-block;
    left-margin: 10px; */
    font-size: 24pt;
    color: white;
    /*-webkit-text-stroke: 1px black;*/
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}


/* Page layout */
html { min-height: 100%; box-sizing: border-box; }
body {
    max-width: 60%;
    min-width 100px;
    min-height: 100%;
    margin: auto;
    font-family: "Garamond", Serif;
    font-size: 14pt;
    color: black;
    box-sizing: border-box;
    position: relative;
    background: ivory;
}

.content {
    height: 100%;
    max-width: 60%;
    margin:auto;
}

.content {
    margin-top: 220px; /* Header width plus 20px margin */
    /*border: 2px solid black;*/
    border-bottom: 0px;
    padding: 20px;
    background: ivory;
}

.content-page {
    /*display: none;*/
    height: 100%;
    /*margin-bottom: 80px;*/
    border-bottom: 1px solid darkslategrey;
}

/*.content-page.default, .content-page:target { */ /* Default MUST be the final child */ /*
    display: block;
}
.content-page:target ~ .content-page {
    display: none;
}

.content-section {
    margin-top: 20px;
    margin-bottom: 20px;
} */

/* Top bar */
.header {
    position: fixed;
    height: 220px;
    width: 100%;

    background: coral;
    /*background-image: url("../resources/top.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    top: 0;
    left: 0;
    text-align: center;
    border-bottom: 2px solid black;
}

/* Title */
.main-title {
    font-size: 100pt;
    color: black;
    /*text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      2px 2px 0 #000;*/
    display: flex;
    margin: auto;
    width: 60%;
}
.main-title > span {
    margin: auto;
    flex: 1;
    text-align: center;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    /*max-width: 800px;*/
    margin: auto;
    margin-top: 20px;
    background: ivory; /*why is this necessary, it's in the header css, and navbar is in the header... */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.navbar a {
    flex: none;
    text-decoration:none;
    color: black;
}


/* Content */

.content-section .title {
    /*font-variant: small-caps; */
    font-size: 18pt;
    margin-bottom: 20px;
    margin-top: 20px;
}

.page-title {
    /*font-variant: small-caps; */
    font-size: 36pt;
    text-align: center;
    margin-top: 20px;
}

/* Footer */
.footer {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    background: ivory;
    max-width: 60%;
    margin: auto;
    padding: 20px;
    /*border-left: 2px solid black;
    border-right: 2px solid black;*/
}

.footer a {
    text-decoration:none;
    color: black;
    font-size: 72px;
}
