/* Fonts */
/* See: /fonts/SIL Open Font License.txt */
@font-face {
    font-family: EBGaramond;
    src: url(../fonts/EBGaramond12-Regular.ttf);
}

/* Visible borders */
.visible-border, .visible-border * {
    border: 1px solid grey;
}
.top-blurb > div {
    display: inline-block;
    left-margin: 10px;
}

/* Page layout */
html { min-height: 100%; box-sizing: border-box; }
body {
    max-width: 60%;
    min-width 100px;
    min-height: 100%;
    margin: auto;
    font-family: "Garamond", Serif;
    font-size: 14pt;
    box-sizing: border-box;
    position: relative;
}

.content {
    height: 100%;
}

.content-page {
    display: none;
    height: 100%;
    margin-bottom: 100px;
}
.content-page.default, .content-page:target { /* Default MUST be the final child */
    display: block;
}
.content-page:target ~ .content-page {
    display: none;
}

.content-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Top bar */
.header {
    position: fixed;
    height: 140px;
    width: 60%;
    background: white;
    top: 0;
    text-align: center;
}
.content {
    margin-top: 140px;
}

/* Title */
.main-title {
    font-size: 50pt;
    display: flex;
}
.main-title > span {
    margin: auto;
    flex: 1;
    text-align: center;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-around;
}
.navbar a {
    flex: none;
}


/* Content */

.content-section .title {
    font-variant: small-caps;
    font-size: 18pt;
}
